swinging-in-caves {

  #swinging-in-caves {
    /*background-color: #fff;*/
    width: 100%;
    /*background-size: cover;*/

    #swinging-in-caves-form-wrapper {
      flex: 1 0 auto !important;
      -webkit-flex: 1 0 auto !important;
      justify-content: flex-start !important;

      #swinging-in-caves-form {

        mat-icon {
          color: #8e7bff;
          display: none !important;
        }

        /*background-color: #fff;*/
        /*max-width: 100%;*/
        width: 100%;
        /*padding: 12px;*/
      }
    }

    p {
      padding-top: 6px;
    }
  }

  .swinging-in-caves-photo {
    max-width: 512px;
  }
}

.swinging-in-caves-text {
    a {
        color: #fff;
    }
}
